#repo {
  max-width: 640px;
  margin: 55px auto 5px auto;
}

.mega-octicon.octicon-repo, .mega-octicon.octicon-repo-forked {
  margin-right: 7px;
}

.repo-stats li {
  list-style: none;
  float: left;
  display: inline-table;
}

.repo-stats li a:hover {
  text-decoration: none;
}
